@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/** List Mods */
ul.is-lined {
  margin-left: 25px;
}
ul.is-lined li {
  list-style: none;
  display: inline;
}

ul.is-lined > li + li::before {
  content: "";
  margin-left: 15px;
}

/** Tie Dye */
.tie-dye {
  overflow: hidden;
}
.tie-dye::before {
  content: "";
  position: absolute;
  overflow: hidden;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  --c1: red;
  --c2: orange;
  --c3: yellow;
  --c4: green;
  --c5: blue;
  --c6: indigo;
  --c7: violet;

  --solid: var(--c1), var(--c2), var(--c3), var(--c4), var(--c5), var(--c6),
    var(--c7);
  --solid-wrap: var(--solid), var(--c1);
  --trans: var(--c1), transparent, var(--c2), transparent, var(--c3),
    transparent, var(--c4), transparent, var(--c5), transparent, var(--c6),
    transparent, var(--c7);
  --trans-wrap: var(--trans), transparent, var(--c1);

  background: radial-gradient(circle, var(--trans)),
    conic-gradient(from 180deg, var(--trans-wrap)),
    radial-gradient(circle, var(--trans)), conic-gradient(var(--solid-wrap));
  background-blend-mode: overlay;
  animation: spin 15s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
